APP_NAME="inventory-management"
APP_ENV="local"
APP_KEY="your-secret-app-key-here"

HTTP_URL=0.0.0.0
HTTP_PORT=8080
HTTP_ALLOWED_ORIGINS=http://192.168.1.109:5173 
# HTTP_ALLOWED_ORIGINS="http://localhost:5173"

DB_CONNECTION="postgres"
DB_HOST=db
DB_PORT="5432"
DB_NAME="inventory_management"
DB_USER="postgres"  
DB_PASSWORD="admin"

# TOKEN
TOKEN_SECRET="supersecretkey"
TOKEN_DURATION=1000h

# REFRESH TOKEN
REFRESH_TOKEN_DURATION=168h