APP_NAME="Reports-Management-System"
APP_ENV="local"
APP_KEY="your-secret-app-key-here"

HTTP_URL=0.0.0.0
HTTP_PORT=9000
HTTP_ALLOWED_ORIGINS=http://192.168.1.109:5173
# HTTP_ALLOWED_ORIGINS="http://localhost:5173"

DB_CONNECTION="postgres"
DB_HOST=localhost
DB_PORT="5432"
DB_NAME="report_mgmt"
DB_USER="postgres"
DB_PASSWORD="admin"

# Used by the docker-compose postgres service
POSTGRES_DB="report_mgmt"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="admin"

# TOKEN
TOKEN_SECRET="supersecretkey"
TOKEN_DURATION=1000h

# REFRESH TOKEN
REFRESH_TOKEN_DURATION=168h

# PASSWORD RESET OTP
RESET_TOKEN_DURATION=15m
FRONTEND_RESET_URL="http://localhost:3000/reset-password?token={token}"